

<div class="menu-bottom-container">
    <NavLink href="scancode" class="menu-bottom-child">
        <div class="menu-button-container">
            <i class="fa fa-camera menu-button-child" aria-hidden="true"></i>
            <div class="menu-button-child">Einlesen</div>
        </div>
    </NavLink>
    <NavLink href="invoicelineitems" class="menu-bottom-child">
        <div class="menu-button-container">
            <i class="fa fa-shopping-cart menu-button-child" aria-hidden="true"></i>
            <div class="menu-button-child">Einkäufe</div>
        </div>
    </NavLink>
    <NavLink href="debtoverview" class="menu-bottom-child">
        <div class="menu-button-container">
            <i class="fa fa-eur menu-button-child" aria-hidden="true"></i>
            <div class="menu-button-child">Schulden</div>
        </div>
    </NavLink>
    <NavLink href="products" class="menu-bottom-child">
        <div class="menu-button-container">
            <i class="fa fa-indent menu-button-child" aria-hidden="true"></i>
            <div class="menu-button-child">Erzeugnisse</div>
        </div>
    </NavLink>
</div>

@code {

}
